{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

    <div class="logout">
        <h2>Supprimer un billet</h2>
        <form method="post" action="{% url 'delete_ticket' ticket.id %}">
            {% csrf_token %}
            <p>Voulez-vous supprimer ce billet?</p>

            <button type="button" onclick="window.location.href='{% url 'flux' %}'">Retour</button>
            <button type="submit">Valider</button>

        </form>
    </div>
{% endif %}
{% endblock %}
