{% load reviews_extras %}
{% load static %}

<div class="ticket color1">
    <div class="header grid-1">
        <p>{{ ticket.time_created|get_posted_at_display }}</p>
        <p>{% get_user_display ticket.user %} demandé une critique</p>
    </div>
    <div class="text grid-2">
        <h2>{{ticket.title}}</h2>
        <p>{{ticket.description}}</p>
    </div>
    <div class="grid-3">
        <img class="cover" src="{{ ticket.picture.url }}" alt="{{ ticket.title }}">
    </div>
    {% if ticket.user == request.user %}
    <div class="button-group grid-4">
        {% if not ticket.answered  %}
            <button type="button" onclick="window.location.href='{% url 'modify_ticket' ticket.id %}'">Modifier</button>
        {% endif %}
        <button type="button" onclick="window.location.href='{% url 'delete_ticket' ticket.id %}'">Supprimer</button>
    </div>
    {% elif not ticket.answered and ticket.user != request.user and ticket.user not in banning_users %}
    <div class="button-group grid-4">
        <button type="button" onclick="window.location.href='{% url 'answer_ticket' ticket.id %}'">Donner un avis</button>
    </div>
    {% endif %}
</div>

