{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

    <div class="signup">
        <h2>modifier un ticket</h2>
        <form method="post" action="{% url 'delete_ticket' ticket.id %}">
            {% csrf_token %}
            <p>Voulez-vous supprimer ce ticket?</p>
            <div class="button-group">
                <button type="button" onclick="window.location.href='{% url 'flux' %}'">Retour</button>
                <button type="submit">Valider</button>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}