{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="follow">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Suivre </button>
        </form>
        {% if messages %}
            {% for message in  messages|slice:"-1:" %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="follow">
        <table>
            {% for user in following_users %}
            <tr>
                <td class="col1">
                    {{ user.username }}
                </td>
                <td class="col2">
                    <a role="button" href="{% url 'unfollow' user.id %}">Désabonner</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <img src="{% static 'images/etagere_abonnements.png' %}" alt="Abonnements">
    </div>

    <div class="follow">
        <table>
            {% for user in followers_users %}
            <tr>
                <td class="col1">
                    {{ user.username }}
                </td>
                <td class="col2">
                    <a role="button" href="{% url 'unsubscribe_followers' user.id %}">Désabonner</a>
                </td>
                <td class="col3">
                {% if user in banning_users %}
                    <a role="button" href="{% url 'unban_followers' user.id %}">Débloquer</a>
                {% else %}
                    <a role="button" href="{% url 'ban_followers' user.id %}">Bloquer</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <img src="{% static 'images/etagere_abonnes.png' %}" alt="Abonnes">
    </div>
{% endif %}
{% endblock %}