{% extends 'base.html' %}

{% block content %}
<section class="accueil">
    <div class="logout">
        {% if user.is_authenticated %}
            <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
            <form method="post" action="{% url 'logout' %}" >
                {% csrf_token %}
                <button type="button" onclick="history.back()">Retour</button>
                <button type="submit" >Se déconnecter</button>
            </form>
        {% endif %}
    </div>
</section>
{% endblock %}
