{% extends 'base.html' %}

{% block content %}
<section class="accueil">
    <div class="grid plus">
        <h2>Réinitialisation du mot de passe</h2>

        <form method="post">
            {% csrf_token %}
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" required>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <div>
                <button type="button" onclick="window.location.href='{% url 'login' %}'">retour</button>
                <button type="submit">Suivant</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}

