{% extends 'base.html' %}

{% block content %}

<div class="logout">
    <h2>Choisissez un nouveau mot de passe</h2>

    <form method="post">
        {% csrf_token %}
          <label for="new_password">Nouveau mot de passe :</label>
          <input type="password" name="new_password" required>
          <label for="confirm_password">Confirmez le mot de passe :</label>
          <input type="password" name="confirm_password" required>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <button type="button" onclick="window.location.href='{% url 'reset_password' %}'">Retour</button>
        <button type="submit">Réinitialiser</button>
    </form>

</div>

{% endblock %}
