{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}
{% if user.is_authenticated %}
    <div class="head">
        <button type="button" onclick="window.location.href='{% url 'create_review' %}'">Créer une critique</button>
        <button type="button" onclick="window.location.href='{% url 'create_ticket' %}'">Créer un billet</button>
    </div>

    {% for instance in page_obj %}
        {% if instance|model_type == 'Ticket' %}
            {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
        {% elif instance|model_type == 'Review' %}
            {% include 'reviews/partials/review_snippet.html' with review=instance %}
        {% endif %}
    {% endfor %}

    <div class="nav">
        {% include 'reviews/partials/navigation.html' with page_obj=page_obj %}
    </div>
{% endif %}
{% endblock %}
